html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #DDDDDD;
}

h1 {
	margin: 0 1em;
}

.content {
	padding: 0.5em 0;
	max-width: 600px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

.formitem {
	display: flex;
	flex-direction: row;
	padding: 0.5em;
	background-color: #EEEEEE;
	border-bottom: 1px solid #999999;
}

.formitem:first-child {
	border-top: 1px solid #999999;
}

.formitem label {
	flex-basis: 100px;
	flex-grow: 1;
	flex-shrink: 0;
}

.formitem .input {
	flex-basis: 250px;
	flex-grow: 0;
	flex-shrink: 1;
}

.formitem .input>* {
	margin: 0;
	padding: 0;
	width: 100%;
}
